/* опредление */
.definition{
    border-left: 2px solid #ccc;
    padding: 10px;
    background: #eee;
}

/* комментарий, todo */
.remark{
    color: red;
    text-transform: uppercase;
}

/* теорема (в заголовке автоматически добавляется слово Теорeма */
.theorem {
    border: 1px solid #bbb;
    padding: 10px;
}
.theorem-header{
    display: inline-block;
    border-bottom: 1px solid #bbb;
    padding: 0 5px;
}
.theorem-header:before{
    content: "Теорема: ";
}

/* Подпись к формуле */
.signature{
    display: block;
    text-align: center;
    margin: -15px 0 15px 0;
    font-size: 0.8em;
    font-style: italic;
}